.clearfix::after,
.clearfix::before {
    display: table;
    content: '';
    clear: both;
}
body {
    font-size: 14px;
    color: rgba(0, 0, 0, 0.7);
    -ms-overflow-style: none;
}
:root{
    --background-color1:rgb(245,245,245);
    --background-color2:rgb(255,255,255);
    --text-color: rgb(83,85,86);
    --comments-line-back-color:rgb(255,255,255);
    --trans-color:rgba(255,255,255,0);
}
::-webkit-scrollbar {
    display: none;
}
input,textarea{
    background-color: transparent;
}