#topbar {
    position: fixed;
    height: 70px;
    width: 95%;
    top: 8px;
    z-index: 1000;
    color: var(--text-color);
    display: none;
    box-shadow: 0 0 18px 5px rgba(83, 83, 83, 0.2);
    transition: background-color 0.25s;
    background-color: rgba(214, 237, 255, 0.2);
    backdrop-filter: saturate(180%) blur(20px);
    left: 50%;
    transform: translateX(-50%);
    border-radius: 10px;
}
#topbar-container{
    width: 95%;
    padding: 0 15px 0 15px;
    position: relative;
    margin: auto;
    height: 100%;
}

#topbar-logo{
    display: inline-block;
    background-image: url("../../../public/favicon.png");
    background-size: cover;
    height: 40px;
    width: 40px;
    background-repeat: no-repeat;
}
#topbar-text{
    margin-left: 10px;
    font-family: "Microsoft Yahei", PingFangSC-Regular, sans-serif, 等线 !important;
    font-size: 16px;
    font-weight: bolder;
    color: var(--text-color);
    filter: brightness(0.9);
    line-height: 41px;
}
#topbar-right {
    position: absolute;
    top: 25px;
    right: 0;
}

#topbar-left{
    display: flex;
    float: left;
    flex-direction: row;
    height: 40px;
    margin-top: 15px;
}
.topbar-link{
    color: var(--text-color);
    margin-right: 40px;
    font-size: 15px;
}
#changeBox{
    text-align: center;
    background-color: black;
    width: 40px;
    height: 40px;
}
.el-icon-s-unfold{
    display: none;
}
@media screen and (max-width: 1200px) {
    #topbar-container {
        width:100%;
        position: relative;
    }
    .el-icon-s-unfold{
        display: none;
    }
}

@media screen and (max-width: 768px) {
    #right-link{
        display: none;
    }
}