#photo {
    text-align:center;
    background-color: var(--background-color1);
    color: var(--text-color);
    padding-bottom: 100px;
    transition: background-color 0.4s;
}
#photo-title{
    position:relative;
    height:200px;
    padding-top:100px;
}
.photoContainer {
    position: relative;
    text-align: center;
    width: 80%;
    left: 10%;
}

img {
    height: 100%;
    background-position: 50% 50%;
}

.photo-intro-contain {
    display: flex;
    flex-direction: column;
    height: 150px;
    align-items: center;
}

.page-header {
    margin:0;
    padding: 50px;
    border: 0;
}

.page-header > * {
    text-align: center;
}

.photo-intro {
    color: var(--text-color);
    text-align: center;
    font-size: 14px;
}

@media screen and (max-width: 1200px) {
    .photoContainer {
        width: 92%;
        left: 4%;
    }
}

@media screen and (max-width: 900px) {
    .photoContainer {
        width: 100%;
        left: 0%;
    }
}

