#photoCard{
    height: 250px;
    width: 300px;
    background-color: var(--background-color2);
    text-align: left;
    display: inline-block;
    border-radius: 8px;
    margin:0 20px 35px 20px;
    overflow: hidden;
    transition: all 0.2s;
    box-shadow: 0 0 20px 2px rgba(78, 78, 78, 0.1);
    transform: rotate(0deg);
    cursor: pointer;
}
#photoCard:hover{
    box-shadow: 0 0 20px 2px rgba(66,66,66,0.3);
}
.cardContainer{
    position: relative;
}
#cardPhoto{
    opacity: 0.96;
    text-align:center;
    height: 155px;
    width: 300px;
    background-size: 100%;
    background-position: center center;
    background-repeat: no-repeat;
    background-color: var(--background-color2);
}
#introIcon{
    height:155px;
    line-height:155px;
}
#introIcon:before{
    color:var(--text-color);
    font-size:60px;
}
#cardIntro{
    height: 95px;
    width: 300px;
    padding: 12px;
}
#introTitle{
    font-weight: bold;
    font-size: 17px;
    margin-bottom: 4px;
}
#introContent{
    font-size: 15px;
    margin-bottom: 4px;
}
#introSub{
    font-size: 13px;
    font-weight: lighter;
}